<ion-view view-title="Account">
  <ion-content>
    <a ui-sref="login">login page demo</a>
    <ion-item>
      <h2>Connected Banks</h2>
    </ion-item>
    <div class="card">
      <div class="item item-divider">
        Wells Fargo
      </div>
      <div class="item item-text-wrap">
        <ul>
          <li>Checking *1234</li>
          <li>Visa *1212 </li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Bank of America
      </div>
      <div class="item item-text-wrap">
        <ul>
          <li>Checking *5555</li>
          <li>Savings *0099 </li>
        </ul>
      </div>
    </div>
    <ion-item>
      <button class="button button-block ion-plus button-balanced" ng-click="openLink()"></button>
    </ion-item>
  </ion-content>
</ion-view>
