<ion-modal-view>
  <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete"></button>
      </div>
      <h1 class="title">Edit Categories</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-ios-close-outline" ng-click="closeModal()">

        </button>
      </div>
    </ion-header-bar>

    <ion-content>

      <ion-list show-delete="data.showDelete" show-reorder="true">

        <ion-item ng-repeat="item in budgetCategories"
                  item="item"
                  href="#/item/{{item.id}}" class="item-remove-animate">

            {{ item.name }}

          <ion-delete-button class="ion-minus-circled"
                             ng-click="deleteCategory(item)">
          </ion-delete-button>
          <ion-option-button class="button-positive"
                             ng-click="editCategory(item)">
            Edit
          </ion-option-button>

          <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>

      </ion-list>

    </ion-content>
  </ion-modal-view>
