<ion-view view-title="Budgets">
  <ion-content>

    <pb-budgetbar  total="totalUserBudget" spent="totalUserSpent"></pb-budgetbar>

    <div class="list" >
      <a ui-sref="main.budgetSetup" id="home-transLink">
        <div class="item item-divider">
          Budget Breakdown
        </div>
      </a>
      <br />
      <canvas id="pie" class="chart chart-pie" chart-click="onClick"
          chart-data="data" chart-labels="labels">
      </canvas>
    </div>

      <div id="home-budgetBox">
        <div class="item item-divider" id="home-budgetBoxHeader">
          <div class="row no-padding">
            <div class="col no-padding  col-center">
              Budgets
            </div>
            <div class="col no-padding text-right">
              <button class="button icon ion-gear-a button-positive" ui-sref="main.budgetSetup">
            </div>
          </div>
        </div>
        <div id="home-budgetBox">
          <div class="item item-divider" id="home-budgetBoxHeader">
            Budgets
          </div>
          <div class="row" id="home-budgetBoxItem" ng-repeat="subbudget in currentUser.budget.subbudgets"> <!-- ng-repeat here -->
            <div class="col col-50" id="home-budgetBoxName">
              {{subbudget.category}}
            </div>
            <div class="col col-50">
              <div id="home-budgetBoxBar">
                <div id="home-budgetBoxBarFill" class="positive-bg" ng-style="setWidth(subbudget)">
                </div>
              </div>
            </div>
          </div> <!-- /end ng-repeat -->

        <!-- simulated ng-repeat here -->
        <!-- <div class="row" id="home-budgetBoxItem">
          <div class="col col-50" id="home-budgetBoxName">
          Groceries
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" style="width: 33%">
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="home-budgetBoxItem">
          <div class="col col-50" id="home-budgetBoxName">
          Gas
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" style="width: 65%">
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="home-budgetBoxItem">
          <div class="col col-50" id="home-budgetBoxName">
          Groceries
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" style="width: 45%">
              </div>
            </div>
          </div>
        </div> -->

      </div>
  </ion-content>
</ion-view>
