<ion-modal-view>
  <ion-header-bar class="bar-positive">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="data.showDelete = !data.showDelete; data.showReorder = false "></button>
      </div>
        <h1 class="title">Edit Categories</h1>
      <div class="buttons">
        <button class="button button-icon icon ion-navicon" ng-click=" data.showDelete = false; data.showReorder = !data.showReorder">
        </button>
      </div>
    </ion-header-bar>

    <ion-content>

      <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
        <ion-item ng-repeat="item in budgetCategories" item="item" href="#/item/{{item.id}}" class="item-remove-animate" >


          <div class="item item-input-inset no-padding" id="budgetSetup-editNameInput">
            <label class="item-input-wrapper no-padding">
              <input type="text" placeholder="{{item.name}}" ng-model="newName">
            </label>
            <button class="button button-small" ng-click="item.name=newName">
              Save
            </button>
          </div>

          <i class="icon ion-drag rotate-90" id="budgetSetup-drag"></i>
          <ion-delete-button class="ion-minus-circled" ng-click="deleteCategory(item)">
          </ion-delete-button>
          <ion-option-button ng-click="changeColor(item)" style="background-color: {{item.color}}" >
            <i class="icon ion-paintbrush" ></i>
          </ion-option-button>
          <ion-reorder-button class="ion-navicon no-padding" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
        </ion-item>
      </ion-list>

      <button class="button icon-left ion-chevron-down button-clear button-dark" ng-click="closeModal()">Back</button>

    </ion-content>
  </ion-modal-view>
