<ion-view view-title="Budget Setup">
  <ion-content >
    <pb-budgetbar total="inputs.totalBudget-inputs.savingsGoal" spent="totalSpent"></pb-budgetbar>

  <label class="item item-input" id="budget-totalLabel">
    <span class="input-label">Total Budget</span>
      <label class="item-input-wrapper">
        $<input type="text" placeholder="0.00" ng-model="inputs.totalBudget">
      </label>
  </label>
  <label class="item item-input" id="budget-savingsLabel">
    <span class="input-label">Savings Goal</span>
      <label class="item-input-wrapper">
        $<input type="text" placeholder="0.00" ng-model="inputs.savingsGoal">
      </label>
  </label>

    <div class="list" >
        <div class="item item-divider">
          Budget Breakdown
        </div>
      <div ng-if="goodData && unallocated > 0">
        <div id="budgetSetup-unallocated">
          ${{unallocated}} Unbudgeted
        </div>
      </div>
      <div ng-if="!goodData || unallocated <= 0">
        <div id="budgetSetup-unallocated">
          <br>
        </div>
      </div>
      <canvas id="pie" class="chart chart-pie" chart-click="onClick"
          chart-data="chart.values" chart-labels="chart.labels" chart-options="chart.options">
      </canvas>
    </div>

      <div id="home-budgetBox">
        <div class="item item-divider" id="home-budgetBoxHeader">
          <div class="row no-padding">
            <div class="col col-67 col-center no-padding">
              Budget Categories
            </div>
            <div class="col no-padding text-right">
              <button class="button icon ion-plus button-positive" ng-click="addCatPopup()"></button>
            </div>
          </div>
        </div>

        <!-- <div ng-repeat="item in categoryArr">
          <pb-budgetcat name="{{item.name}}" color="{{item.color}}" total="item.total" spent="item.spent"></pb-budgetcat>
        </div> -->
        <div ng-repeat="item in categoryArr">
          <pb-budgetcat name="{{item.name}}" color="{{item.color}}" unallocated="{{unallocated}}" value="item.total"></pb-budgetcat>
        </div>

      </div>
      <div class="item" id="budgetSetup-saveButtons">
        <button class="button button-stable" id="budgetSetup-cancel" ui-sref="main.budgets">Cancel</button>
        <button class="button button-balanced" id="budgetSetup-save" ng-click="">Save</button>
      </div>


  </ion-content>
</ion-view>
