<ion-view view-title="Budget Setup">
  <ion-content >
    <pb-budgetbar total="parsedBudget" savings="savingsAmt" spent="user.totalSpent"></pb-budgetbar>

  <label class="item item-input" id="budget-totalLabel" >
    <span class="input-label">Total Budget</span>
      <!-- <label class="item-input-wrapper input-needed" id="budgetSetup-inputField" ng-if="noBudget">
        $<input type="text" placeholder="0.00" ng-model="inputs.totalBudget">
      </label> -->
      <label class="item-input-wrapper" id="budgetSetup-inputField">
        $<input type="text" placeholder="0.00" ng-model="inputs.totalBudget">
      </label>
  </label>
  <label class="item item-input" id="budget-savingsLabel">
    <span class="input-label">Savings Goal</span>
      <label class="item-input-wrapper">
        $<input type="text" placeholder="0.00" ng-model="inputs.savingsGoal">
      </label>
  </label>

    <div class="list" >
        <div class="item item-divider">
          Budget Breakdown
        </div>
      <div ng-if="goodData && unallocated > 0">
        <div id="budgetSetup-unallocated">
          ${{unallocated}} Unbudgeted
        </div>
      </div>
      <div ng-if="(!goodData || unallocated <= 0) && !savingsOverBudget">
        <div id="budgetSetup-unallocated">
          <br>
        </div>
      </div>
      <div ng-if="savingsOverBudget">
        <div id="budgetSetup-unallocated">
          ${{overBudgetAmt}} Over Budget
        </div>
      </div>
      <canvas  id="base" class="chart-base" chart-click="onClick" chart-type="userOptions.chartType"
          chart-data="chart.values" chart-labels="chart.labels" chart-colours="chart.colors" chart-options="chart.options">
      </canvas>

    </div>

      <div id="home-budgetBox">
        <div class="item item-divider" id="home-budgetBoxHeader">
          <div class="row no-padding">
            <div class="col col-50 col-center no-padding">
              Budget Categories
            </div>

            <div class="col no-padding text-right" ng-if="!noBudget && unallocated >0">
              <button class="button icon ion-plus button-positive" ng-click="addCatPopup()"></button>
            </div>

            <div class="col no-padding text-right" ng-if="noBudget || unallocated <=0">
              <button class="button icon ion-plus button-stable" ng-disabled="noBudget || unallocated <=0" ng-click=""></button>
            </div>

          </div>
        </div>
        <div ng-if="!budgetCategories.length">
          <div class="row">
            <div class="col center-text col-100">
              Create a Budget!
            </div>
          </div>
        </div>


        <div ng-repeat="item in budgetCategories" ng-if="budgetCategories.length">
          <pb-budgetcat name="{{item.category}}" color="{{item.color}}" unallocated="{{unallocated}}" value="item.allocated" id="{{item.id}}" total="{{parsedBudget}}" init="{{item.initVal}}"></pb-budgetcat>
        </div>

      </div>
      <div class="row">
      <div class="col col-50"  id="budgetSetup-editCat">
        <button ng-if="budgetCategories.length" class="button icon ion-edit button-positive" ng-click="openModal()"> Edit</button>
      </div>
      <div class="col text-right" id="budgetSetup-saveButtons">
        <button class="button button-stable" id="budgetSetup-cancel" ng-click="cancel()">Cancel</button>
        <button class="button button-balanced" id="budgetSetup-save" ng-if="goodData" ng-disabled="!goodData" ng-click="save()">Save</button>
        <button class="button button-light" id="budgetSetup-save" ng-if="!goodData" ng-disabled="true" >Save</button>
      </div>
    </div>


  </ion-content>
</ion-view>
