<div>
                    <!--form  name="faleComigoForm" class="falecomigo" novalidate form-manager -->
                        <div class="list list-inset" >
                            <label class="item item-input">
                                <input ng-model="profile.currentPassword" name="fieldName" type="password" placeholder="Current Password" required ng-minlength="2" ng-maxlength="70">
                            </label>
                        </div>

                        <div class="list list-inset" >
                           
                            <label class="item item-input">
                                <input ng-model="profile.newPassword" name="fieldSubject" type="password" placeholder="New Password" required ng-minlength="2" ng-maxlength="70">
                            </label>
                            <label class="item item-input">
                                <input ng-model="profile.confirmNewPassword" name="fieldSubject" type="password" placeholder="Confirm New Password" required ng-minlength="2" ng-maxlength="70">
                            </label>
                        </div>


                        <!--div class="padding container">
                            <div class="row">
                                <button ng-click="reset()"  class="button button-assertive button-small col col-40"              > Cancelar </button>
                                <button ng-click="submit()" class="button button-balanced  button-small col col-40 col-offset-10"> Enviar </button>
                            </div>
                        </div-->
                    <!--/form-->
                </div>
