<ion-view view-title="Push Budget">
  <ion-content >
    <a ui-sref="main.budgets" id="budgetBarLink">
      <pb-budgetbar total="user.totalBudget" spent="user.totalSpent" savings="user.savings"></pb-budgetbar>
    </a>
    <div class="item item-divider" id="home-budgetBoxInfo">
      You have ${{remaining}} remaining
    </div>
    <div id="home-transLink">
      <div class="item item-divider">
        Untagged Transactions
      </div>
    </div>
    <ion-scroll direction="y" style="height: 235px">
      <div class="list" style="height: 235px">
        <div ng-if="!transactions.length">
          <div class="row">
            <div class="col center-text col-100">
              No Untagged Transactions
            </div>
          </div>
        </div>
        <div ng-if="transactions.length" ng-repeat="transaction in transactions | limitTo: 50">
          <a class="item" ui-sref="main.toTrans({id: transaction._id})">
            <div class="row no-padding">
              <div class="col no-padding">
                <div class="col no-padding" id="home-untaggedName">
                  {{transaction.name}}
                </div>
                <div class="col no-padding" id="home-untaggedDate">
                  {{transaction.posted | date : short}}
                </div>
              </div>
              <div class="col no-padding">
                <div class="col no-padding text-right" id="home-untaggedAmmount">
                  ${{transaction.amount}}
                </div>
                <div class="col no-padding text-right" id="home-untaggedCat">
                  {{transaction.category}}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ion-scroll>


      <div id="home-budgetBox">
        <div class="item item-divider" id="home-budgetBoxHeader">
          Budgets
        </div>
        <div ng-if="!user.subbudgetArr.length">
          <div class="row">
            <div class="col center-text col-100">
              Create a Budget!
            </div>
          </div>
        </div>

        <div class="row" id="home-budgetBoxItem"  ng-repeat="item in user.subbudgetArr" ng-if="user.subbudgetArr.length">
          <div class="col col-50 col-center" id="budget-subBudgetLabels">
            <div class="row no-padding" id="budget-catRows" >
              <div class="col no-padding" id="budget-catName">
                {{item.category}}
              </div>
            </div>
            <div class="row no-padding">
              <div class="col no-padding" id="budget-subBudgetPct">
                {{getPctRemain(item.sum, item.allocated)}}%
              </div>
            </div>
          </div>
          <div class="col col-50 no-padding col-center">
            <div id="home-budgetBoxBar">

              <div id="home-budgetBoxBarFill" class="positive-bg" ng-style="setWidth(item)" ng-if="getPctRemain(item.sum, item.allocated) > 20">
                <div id="home-budgetBoxBarRemain">${{getDifference(item.sum, item.allocated)}}</div>
              </div>
              <div id="home-budgetBoxBarFill" class="positive-bg" ng-style="setWidth(item)" ng-if="getPctRemain(item.sum, item.allocated) <= 20 && getPctRemain(item.sum, item.allocated) >10" style="background-color: #f0b840">
                <div id="home-budgetBoxBarRemain">${{getDifference(item.sum, item.allocated)}}</div>
              </div>
              <div id="home-budgetBoxBarFill" class="positive-bg" ng-style="setWidth(item)" ng-if="getPctRemain(item.sum, item.allocated) <= 10" style="background-color: #ef4e3a">
                <div id="home-budgetBoxBarRemain">${{getDifference(item.sum, item.allocated)}}</div>
              </div>
            </div>


        <!-- <div class="row" id="home-budgetBoxItem" ng-repeat="subbudget in user.subbudgetArr">
          <div class="col col-50" id="home-budgetBoxName">
            {{subbudget.category}}
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" ng-style="setWidth(subbudget)">
              </div>
            </div>
          </div>
        </div>  -->

      </div>

  </ion-content>
</ion-view>
