<ion-view view-title="Push Budget">
  <ion-content >
    <a ui-sref="main.budgets" id="budgetBarLink">
      <pb-budgetbar total="totalUserBudget" spent="totalUserSpent"></pb-budgetbar>
    </a>
    <div class="item item-divider" id="home-budgetBoxInfo">
      You have ${{totalUserRemain}} remaining
    </div>
    <div id="home-transLink">
      <div class="item item-divider">
        Untagged Transactions
      </div>
    </div>
    <ion-scroll direction="y" style="height: 235px">
      <div class="list" style="height: 235px">
        <div ng-repeat="transaction in transactions | limitTo: 50">
          <a class="item" ui-sref="main.toTrans({id: transaction._id})">
            <div class="row no-padding">
              <div class="col no-padding">
                <div class="col no-padding" id="home-untaggedName">
                  {{transaction.name}}
                </div>
                <div class="col no-padding" id="home-untaggedDate">
                  {{transaction.posted | date : short}}
                </div>
              </div>
              <div class="col no-padding">
                <div class="col no-padding text-right" id="home-untaggedAmmount">
                  ${{transaction.amount}}
                </div>
                <div class="col no-padding text-right" id="home-untaggedCat">
                  {{transaction.category}}
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </ion-scroll>


      <div id="home-budgetBox">
        <div class="item item-divider" id="home-budgetBoxHeader">
          Budgets
        </div>
        <div class="row" id="home-budgetBoxItem" ng-repeat="subbudget in currentUser.budget.subbudgets"> <!-- ng-repeat here -->
          <div class="col col-50" id="home-budgetBoxName">
            {{subbudget.category}}
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" ng-style="setWidth(subbudget)"> <!--angular variable here for width length -->
              </div>
            </div>
          </div>
        </div> <!-- /end ng-repeat -->

        <!-- simulated ng-repeat here -->
        <!-- <div class="row" id="home-budgetBoxItem">
          <div class="col col-50" id="home-budgetBoxName">
          Groceries
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" style="width: 33%">
              </div>
            </div>
          </div>
        </div>

        <div class="row" id="home-budgetBoxItem">
          <div class="col col-50" id="home-budgetBoxName">
          Gas
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" style="width: 65%">
            </div>
          </div>
        </div>

        <div class="row" id="home-budgetBoxItem">
          <div class="col col-50" id="home-budgetBoxName">
          Groceries
          </div>
          <div class="col col-50">
            <div id="home-budgetBoxBar">
              <div id="home-budgetBoxBarFill" class="positive-bg" style="width: 45%">
              </div>
            </div>
          </div>
        </div> -->


      </div>



  </ion-content>
</ion-view>
