<ion-view view-title="New Transaction" hide-nav-bar="true">
  <ion-content>

    <a ui-sref="main.budgets" id="budgetBarLink">
      <div class="row">
        <div id="budgetBar" class="col">
          <div id="budgetBarFill" class="positive-bg" style="width: 65%"> <!-- // set the width to an angular variable-->
            <div id="budgetBarRemain">
              $650 <!-- {{budgetBarRemain}} -->
            </div>
            <div id="budgetBarSpent">
              $250 <!-- {{budgetBarSpent}} -->
            </div>
          </div>
        </div> <!-- /end col -->
      </div> <!-- /end row -->
    </a>

    <div class="card" id="newtrans-container">
      <div class="item item-divider">
        <div class="row">
          <div class="col col-40" id="newtrans-name">
            Joe's Pizza
          </div>
          <div class="col col-60" id="newtrans-date">
            01/12/16 11:15am
          </div>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div class="list">

          <label class="item item-input item-select">
            <div class="input-label" >
              <span id="newtrans-price">$8.47</span>
            </div>
            <select>
              <option>Gas</option>
              <option selected>Food</option>
              <option>whatever</option>
            </select>
          </label>
          <button class="button icon check"></button>
        </div>
      </div>
    </div>



  </ion-content>
</ion-view>
