<!--ion-view view-title="pushbudgetuser@somewhere.com"-->
<ion-view view-title="Profile">
  <ion-nav-buttons side="right">
      <button class="button button-icon icon ion-ios-gear" ng-click="openModal()">
      </button>
   </ion-nav-buttons>
<!--div class="bar bar-header">
  <h1 class="title">Header</h1>
</div-->
<div class="bar bar-subheader bar-positive" ng-if="institutionNeedsAttention">
  <h2 class="title">
  {{institutionAttentionMessage}}</h2>
</div>


  <ion-content  ng-class="(institutionNeedsAttention) ? 'has-subheader' : ''">

      <!--div class="list"-->

      <div class="item item-divider text-center" id="profile-userInfo">
        <span id="profile-username">{{userName}}</span>
      </div>

      <div class="item" href="#" id="profile-userOptions">
        <button class="button button-dark" id="profile-changePw" ng-click="changePassword()">Change password</button>
        <button class="button button-dark" id="profile-logout" ng-click="logout()">logout</button>
      </div>


    <!--/div-->
    <ion-item>
      <h2>Connected Banks</h2>
    </ion-item>

    <div class="card" ng-repeat = "institution in institutions" >

      <!--div ng-if=!institution.Active class="item item-divider account-attention">
        <marquee>This "{{institution.InstitutionName}}" account is inactive, please refresh...</marquee>
      </div-->

      <div class="item item-divider">
        <div class="row no-padding" >
          <img src={{institution.InstitutionLogoURL}} height="25" width="25">&nbsp;
          <div class="col col-67 col-center no-padding">
            {{institution.InstitutionName}}
          </div>
          <div class="col no-padding text-right" ng-if=!institution.Active>
            <button class="button icon ion-loop button-energized button-small inactive-account-blink" id="account-refresh" ng-click="refreshAccount(institution.AccessToken)" ></button>
          </div>
          <div class="col no-padding text-right">
            <button class="button icon ion-minus button-assertive button-small" id="account-delete" ng-click="deleteAccount(institution.InstitutionName, institution.AccessToken)"></button>
          </div>
        </div>
      </div>

      <div class="item item-text-wrap">
        <ul>
          <li ng-repeat = "account in institution.Accounts">{{account}}</li>
        </ul>
      </div>
    </div>




    <div class="card" ng-if=noLinkedInstitutions>
      <div class="item item-divider">
        <div class="row no-padding" >
          <div class="col col-67 col-center no-padding">
            No Linked Banks
          </div>
          <!--div class="col no-padding text-right"><button class="button icon ion-loop button-energized button-small"></div>
          <div class="col no-padding text-right"><button class="button icon ion-minus button-assertive button-small"></div-->
        </div>
      </div>
      <div class="item item-text-wrap">
        <ul>
          <li>You currently do not have any of your bank accounts linked with pushbudget. Please click the "Add account" button below to begin linking your accounts...</li>
        </ul>
      </div>
    </div>



    <ion-item>
      <button class="button button-block  button-positive" id="profile-add-account" ng-click="openPlaidLink()">Add account</button>
    </ion-item>
    <div id="home-transLink">
      <div class="item item-divider" ng-click="aboutPopup()">
        About Push Budget
      </div>
    </div>



  </ion-content>
</ion-view>
