<ion-view view-title="Create Account">
  <ion-content class="padding">
    <div class="container">
      <div>

      </div>
    </div>
    <div class="container login-caption">
      <h4>Push Budget</h4>
    </div>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email Address</span>
        <input type="text" placeholder="johndoe@email.com" ng-model="newUser.username" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="newUser.password" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Re-enter Password</span>
        <input type="password" placeholder="Password" ng-model="check" required>
      </label>
    </div>
    <button ng-disabled="check !== newUser.password" class="button button-block button-balanced" ng-click="signup(newUser)">
      Create
    </button>
  </ion-content>
</ion-view>