<ion-view view-title="Transactions">
  <ion-content>
    <a ui-sref="main.budgets" id="budgetBarLink">
      <pb-budgetbar total="user.totalBudget" spent="user.totalSpent" savings="user.savings"></pb-budgetbar>
    </a>

    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Category
        </div>
        <select ng-model="selectedSub" ng-options="subbudget as subbudget.category for subbudget in allCategories">

        </select>
      </label>
    </div>


    <div class="list">
      <div ng-if="!selectedSub.transactions.length">
        <div class="row">
          <div class="col center-text col-100">
            No transactions
          </div>
        </div>
      </div>
      <div ng-if="selectedSub.transactions.length">
        <div ng-repeat="transaction in selectedSub.transactions | limitTo: 20">
          <!-- <a class="item" ui-sref="main.newTrans({id: transaction._id})"> -->
          <div class="item">
            <div class="row no-padding">
              <div class="col no-padding">
                <div class="col no-padding" id="home-untaggedName">
                  {{transaction.name}}
                </div>
                <div class="col no-padding" id="home-untaggedDate">
                  {{transaction.posted | date : short}}
                </div>
              </div>
              <div class="col no-padding">
                <div class="col no-padding text-right" id="home-untaggedAmmount">
                  ${{getDecimals(transaction.amount)}}
                </div>
                <div class="col no-padding text-right" id="home-untaggedCat">
                  {{transaction.category}}
                </div>
              </div>
            </div>
          </div>
          <!-- </a> -->
        </div>
      </div>

    </div>
  </ion-content>
</ion-view>
