<ion-view view-title="Transactions">
  <ion-content>
    
    <a ui-sref="main.budgets" id="budgetBarLink">
      <div class="row">
        <div id="budgetBar" class="col col90 col">
          <div id="budgetBarFill" class="positive-bg" style="width: 65%"> <!-- // set the width to an angular variable-->
            <div id="budgetBarRemain">
              $650 <!-- {{budgetBarRemain}} -->
            </div>
            <div id="budgetBarSpent">
              $250 <!-- {{budgetBarSpent}} -->
            </div>
          </div>
        </div> <!-- /end col -->
      </div> <!-- /end row -->
    </a>


    <div class="row">
      <div class="col">
        <button class="button button-block button-balanced">All</button>
      </div>
      <div class="col">
        <button class="button button-block button-assertive">Untagged</button>
      </div>
    </div>
    <div class="list" id="transactionsList">
        <div class="item item-divider">
          <div class="row">
              <div class="col">Business</div>
              <div class="col">Amount</div>
              <div class="col">Date</div>
          </div>
        </div>
        <a ui-sref="main.newTrans" class="item" ng-repeat="transaction in transactions">
          <div class="row">
              <div class="col">{{transaction.business}}</div>
              <div class="col">{{transaction.amount}}</div>
              <div class="col">{{transaction.date}}</div>
          </div>
        </a>
    </div>
  </ion-content>
</ion-view>
