platforms
plugins
node_modules
bower_components
www/angular-animate
www/angular-sanitize
www/angular-ui-router
www/angular
www/lib/ionic-platform-web-client/
www/lib/ionic-service-core/
.io-config.json
.jshintrc