<div class="row" id="budget-budgetBoxItem" style="border-left: 10px solid {{color}}">
  <div class="col col-50 col-center">
    <div class="row no-padding" id="budgetSetup-catRows" >
      <div class="col no-padding" id="budgetSetup-catName">
        {{name}}
      </div>
    </div>
    <div class="row no-padding">
      <div class="col no-padding">
        ${{displayValue}}// max:{{max}}//{{input}}
      </div>
    </div>
  </div>
  <div class="col col-50 no-padding col-center">
    <div class="item range">

      <input type="range" name="{{name}}" value="input" min="0" max="{{max}}" ng-model="input" ng-init="input=init">
    </div>
    <!-- <div id="home-budgetBoxBar">
      <div id="home-budgetBoxBarFill" class="positive-bg" style="width: {{budgetPct}}%">
      </div>
    </div> -->
  </div>
</div>
