/* Empty. Add your own CSS if you like */
.login-logo {
  max-width: 30%;
  height: auto;
  margin-left: 35%;
  margin-right: 35%;
  margin-top: 85px;
}

.login-caption {
  max-width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
  margin-bottom: 50px;
}

/*misc*/
* {
}

div {
  /*border: red 1px dotted;*/
}

.no-padding {
  padding: 0px !important;
}

.rotate-90 {
  display: inline-block;
  transform: rotate(90deg);
}

.no-border {
  border:non;
}

#add-border {
  border: 1px solid #8B8B8B;
}

/*.center
{
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute !important;
	margin: 0 auto;
	width: 100%;
}*/
/*budgetBar*/
#budgetBarLink {
  text-decoration: none;
  color: inherit;
}

#budgetBar {
  border: 1px solid #DDDDDD;
  height: 40px;
  padding: 1px;
  padding-bottom: 2px;
  position: relative;
  box-shadow: 1px 1px 1px #8B8B8B;
  border-radius: 3px;
  background-color: #F5F5F5;
}

#budgetBarFill {
  height: 100%;
  box-shadow: 1px 1px 0px #B3B3B3;
  border-radius: 3px;
}

#budgetBarRemain {
  position: absolute;
  left: 4px;
  bottom: 10px;
  text-shadow: 1px 1px 1px #7C7C7C;
  font-size: 20px;
}

#budgetBarSpent {
  position: absolute;
  right: 4px;
  bottom: 10px;
  text-shadow: 1px 1px 1px #7C7C7C;
  font-size: 20px;
}

/*main.home -- dashboard*/
#home-untaggedTrans {
  border: 1px solid #000000;
}

#home-transLink {
  text-decoration: none;
}

#home-budgetBox {
  background-color: #F5F5F5;
  border: 1px solid #DDDDDD;
}

#home-budgetBoxInfo {
  width: 101%;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: #FFFFFF;
}

#home-budgetBoxHeader {
  width: 100%;
  background-color: #DDDDDD;
}

#home-budgetBoxName {
}

#home-budgetBoxItem {
  padding: 10px;
  box-shadow: #DDDDDD 0px 1px 0px;
  position: relative;
}

#home-budgetBoxBar {
  height: 20px;
  padding: 0px;
  background-color: #B3B3B3;
  width: 100%;
  right: 30px;
  border-radius: 3px;
  box-shadow: 1px 1px 0px #8B8B8B;
}

#home-budgetBoxBarFill {
  height: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 0px #8B8B8B;
}

#home-untaggedCat {
  font-size: 12px;
}

#home-untaggedDate {
  font-size: 12px;
}

#home-untaggedAmmount {
  font-size: 20px;
}

#home-untaggedName {
  font-size: 20px;
}

/*transactions*/
/*new transactions */
#newtrans-name {
}

#newtrans-date {
}

#newtrans-price {
}

#newtrans-catName {
}

#newtrans-addButton {
  padding-right: 30px;
}

#newtrans-newCat {
  border-top: 1px solid #DDDDDD;
}

#newtrans-newCatPrice {
  width: 120px;
  position: absolute;
  left: 32px;
}

#newtrans-newCatName {
}

#newtrans-drag {
  position: absolute;
  right: 10px;
}

#newtrans-trashIcon {
  padding-left: 17px;
}

/*profile */
#profile-userInfo {
  width: 100%;
}

#profile-username {
}

#profile-logout {
  font-weight: normal;
  position: absolute;
  right: 15px;
}

#profile-userOptions {
}

#profile-bankName {
}

/*budget setup */
#budget-savingsLabel {
  border-left: 10px #97BBCD solid;
}

#budget-totalLabel {
  border-left: #DCDCDC 10px solid;
}

#budget-budgetBoxItem {
  padding: 10px;
  box-shadow: #DDDDDD 0px 1px 0px;
  position: relative;
  border-left: 10px solid;
}

#budgetSetup-unallocated {
  padding-left: 12px;
  padding-top: 6px;
}

#budgetSetup-save {
}

#budgetSetup-cancel {
}

#budgetSetup-saveButtons {
}

#budgetSetup-catRows {
  padding-bottom: 10px !important;
}

#budgetSetup-catName {
}

#budgetSetup-drag {
  position: absolute;
  right: 10px;
  bottom: 35%;
}

#budgetSetup-editName {
  display: inline-block;
}

#budgetSetup-editNameInput {
  /**/
}

#budgetSetup-editValueInput {
  /**/
}

#budgetSetup-editSave {
}

#budgetSetup-editRow {
  padding: 0px !important;
}

/*accordian*/
.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.item-accordion.ng-hide {
  line-height: 0px;
}

.item-accordion.ng-hide-add, .item-accordion.ng-hide-remove {
  display: block !important;
}

/*.account-attention {
  color: red; 
  width: 450px;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
} */
/* The below CSS code is to make the refresh button change background color for inactive accounts on user profile */
@keyframes blink {
  0% {
    color: black;
    background-color: white;
  }
  
  100% {
    color: black;
    background-color: orange;
  }
}

@-webkit-keyframes blink {
  0% {
    color: black;
    background-color: white;
  }
  
  100% {
    color: black;
    background-color: orange;
  }
}

.inactive-account-blink {
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
/* End of CSS code to make the refresh button change background color for inactive accounts on user profile */

.institutionAttentionMessage {
    color: red;
}

/* The below css code is necessary to render the subheader bar on android platform, else it just shows the  
header bar with no content inside of it! */
.platform-android .bar-subheader  {
    top: 93px;
}
